<a href="https://colab.research.google.com/github/Stiv-McQueen/Machine_Learning/blob/main/Intro_Machine_Learning_Classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classificação - 2

Nós queremos ler o arquivo cru da tabela anterior (.csv). Para isso, usaremos a biblioteca Pandas. 
A maneira padrão de importar essa biblioteca é import pandas as pd. 
Em seguida, com pd.read_csv(uri), faremos a leitura do arquivo .csv.

In [5]:
import pandas as pd
#Fonte de dados:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv' 
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

Para modificar as nomeações em inglês que já estamos utilizando, usaremos uma funcionalidade do Pandas que possibilita a renomeação das colunas: dados.rename(columns). Em seguida, passaremos mapa, um dicionário do Python em que declaramos qual será o nome das respectivas colunas:

In [6]:
mapa = {
    'home': 'página_principal',
    'how_it_works' : 'como_funciona',
    'contact' : 'contato',
    'bought' : 'comprou'
}
dados = dados.rename(columns = mapa)
dados.head()

   página_principal  como_funciona  contato  comprou
0                 1              1        0        0
1                 1              1        0        0
2                 1              1        0        0
3                 1              1        0        0
4                 1              1        0        0

In [7]:
x = dados[['página_principal',	'como_funciona',	'contato']]
y = dados[["comprou"]]
print(y)

    comprou
0         0
1         0
2         0
3         0
4         0
..      ...
94        0
95        1
96        0
97        0
98        0

[99 rows x 1 columns]

In [12]:
dados.shape # Separaremos em média 25% para testar o algorítimo, e o restante (cerca de 75% dos dados) para o treinamento.

(99, 4)

In [8]:
# Precisamos sempre separar os dados de treino e os de teste para não enviesarmos os resultados produzidos.
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

Compararemos as previsões com *teste_y*. Para isso, usaremos o **accuracy_score()** (sem nos esquecermos de importar esse método de **sklearn.metrics**), passando como argumentos *teste_y* e *previsoes*.

In [9]:
#Utilizando a biblioteca scikit learn:
from sklearn.svm import LinearSVC
#na propria biblioteca scikit learn há ferramentas para calcular a taxa de acerto:
from sklearn.metrics import accuracy_score
#Instanciando estimador
modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#Utilizando a biblioteca para separar treino e teste

Na máquina virtual do Python, importaremos train_test_split do sklearn.model_selection, e passaremos como argumento as duas matrizes (arrays), que são x e y inteiros. Em seguida, declararemos o tamanho do teste (test_size) que será 0.25.

In [17]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
'''Ao executar, a acurácia gera números aleatórios para estimar, preciso criar um número fixo para que saia do aleatório Isso 
ocorre porque o algorítimo train_test_split, por padrão, realiza aleatoriamente a separação de dados de treino e teste. 
Desse modo, todas as vezes que ele é executado podemos ter um resultado diferente.'''
SEED = 20


treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,random_state = SEED, test_size = 0.25) #Random_state aqui com a variável SEED aqui
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
treino_y.value_counts() #saber quantos caracteres há nesta variável

comprou
0          47
1          27
dtype: int64

In [19]:
teste_y.value_counts()

comprou
0          19
1           6
dtype: int64

O robô indentifica mais números que não compraram ao comparar com o teste, dá erro. preciso estratificar o y

In [21]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
#Ao executar, a acurácia gera números aleatórios para estimar, preciso criar um número fixo para que saia do aleatório
SEED = 20


treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                        random_state = SEED, test_size = 0.25,
                                                        stratify =y) #Deixando y stratificado para melhorar a comparação, que irá estratificar os dados proporcionalmente de acordo com y
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
treino_y.value_counts() #saber quantos caracteres há nesta variável

comprou
0          49
1          25
dtype: int64

In [23]:
teste_y.value_counts()

comprou
0          17
1           8
dtype: int64

Agora tá 1/1, tanto treino_y como teste_y